*.egg
*.egg-info
*.pyc
.test
.testrepository
.tox
.venv
AUTHORS
build/*
ChangeLog
config
doc/build/*
zuul/versioninfo
dist/

# Javascript
.build
.local
node_modules
bower_components
npm-debug.log
*.iml
.idea
reports
cover
