openapi: "3.0.0"
info:
  title: Zuul REST API
  version: v1
tags:
  - name: tenant
paths:
  /tenants.json:
    get:
      tags:
        - tenant
      operationId: list-tenants
      summary: List the tenants
      responses:
        '200':
          description: Returns the list of tenants
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      description: Tenant name
                      type: string
                    projects:
                      description: Tenant project count
                      type: integer
  /{tenant}/status.json:
    get:
      tags:
        - tenant
      operationId: get-status
      summary: Get tenant status
      parameters:
        - name: tenant
          in: path
          description: The tenant name
          required: True
      responses:
        '200':
          description: Returns the list of tenants
          content:
            application/json:
              schema:
                description: The tenant status
                type: object
                properties:
                  trigger_event_queue:
                    description: The number of running events
                    type: integer
                  result_event_queue:
                    description: The number of completed events
                    type: integer
                  last_reconfigured:
                    description: The Epoch timestamp of the last reconfiguration
                    type: integer
                  zuul_version:
                    description: The Zuul version
                    type: string
                  pipelines:
                    description: The list of pipelines
                    type: array
                    items:
                      $ref: '#/components/schemas/pipelineStatus'
        '404':
          description: Tenant not found

  /{tenant}/jobs.json:
    get:
      tags:
        - tenant
      operationId: list-jobs
      summary: List available jobs
      parameters:
        - name: tenant
          in: path
          description: The tenant name
          required: True
      responses:
        '200':
          description: Returns the list of jobs
          content:
            application/json:
              schema:
                type: array
                description: The list of jobs
                items:
                  type: object
                  description: A job
                  properties:
                    name:
                      type: string
                      description: The job name
                    description:
                      type: string
                      description: The job short description
        '404':
          description: Tenant not found

  /{tenant}/builds.json:
    get:
      tags:
        - tenant
      operationId: list-builds
      summary: List the executed builds
      parameters:
        - name: tenant
          in: path
          description: The tenant name
          required: True
        - in: query
          name: project
          description: A project name
        - in: query
          name: pipeline
          description: A pipeline name
        - in: query
          name: job_name
          description: A job name
        - in: query
          name: change
          description: A change number
        - in: query
          name: patchset
          description: A patchset number
        - in: query
          name: ref
          description: A ref
        - in: query
          name: newrev
          description: A new revision hash
        - in: query
          name: uuid
          description: A build uuid
        - in: query
          name: voting
          description: A build voting status
        - in: query
          name: result
          description: A build result
        - in: query
          name: limit
          description: The limit count (default 50)
        - in: query
          name: skip
          description: Skip number of results
      responses:
        '200':
          description: Returns the list of builds
          content:
            application/json:
              schema:
                type: array
                description: The list of builds
                items:
                  $ref: '#/components/schemas/build'
        '404':
          description: Tenant not found

  /{tenant}/{project}.pub:
    get:
      tags:
        - tenant
      operationId: get-project-key
      summary: Get a project public key
      parameters:
        - name: tenant
          in: path
          description: The tenant name
          required: True
        - name: project
          in: path
          description: The project name
          required: True
      responses:
        '200':
          description: Returns the project public key
          content:
            text/plain:
              schema:
                type: string
                description: The project public key
              example: |
                -----BEGIN PUBLIC KEY-----
                MIICI...
                -----END PUBLIC KEY-----
        '404':
          description: Tenant or Project not found

components:
  schemas:
    pipelineStatus:
      type: object
      description: A pipeline
      properties:
        name:
          type: string
          description: The pipeline name
        description:
          type: string
          description: The pipeline description
        change_queues:
          type: array
          description: The pipeline list of change queues
          items:
            $ref: '#/components/schemas/change_queue'
    change_queue:
      type: object
      description: A change queue
      properties:
        window:
          type: integer
          description: The queue window
        name:
          type: string
          description: The queue name
        heads:
          type: array
          description: The list of queue events
          items:
            type: array
            items:
              $ref: '#/components/schemas/event_queue'
    event_queue:
      type: object
      description: A queue event
      properties:
        active:
          type: boolean
          description: Is the event active
        id:
          type: string
          description: The event id
        zuul_ref:
          type: string
          description: The zuul ref
        remaining_time:
          type: integer
          description: The estimated remaining time
        enqueue_time:
          type: integer
          description: The epoch creation time
        item_ahead:
          type: array
          description: The list of events ahead
        item_behind:
          type: array
          description: The list of events behind
        failing_reasons:
          type: array
          description: The list of failing reasons
          items:
            type: string
        url:
          type: string
          description: The event url
        jobs:
          type: array
          description: The event list of jobs
          items:
            $ref: '#/components/schemas/status_job'
        live:
          type: boolean
          description: Is the event live
        owner:
          type: string
          description: The event owner
        project:
          type: string
          description: The event project
    status_job:
      type: object
      description: A job status
      properties:
        pipeline:
          type: string
          description: The job pipeline
        retry:
          type: integer
          description: The retry count
        name:
          type: string
          description: The job name
        canceled:
          type: boolean
          description: Is the job canceled
        url:
          type: string
          description: The job stream url
        worker:
          $ref: '#/components/schemas/status_worker'
        start_time:
          type: integer
          description: The epoch start time
        launch_time:
          type: integer
          description: The epoch launch time
        number:
          type: integer
          description: The job number
        remaining_time:
          type: integer
          description: The estimated remaining time
        elapsed_time:
          type: integer
          description: The elapsed time
        result:
          type: string
          description: The job result
        voting:
          type: boolean
          description: Is the job voting
        uuid:
          type: string
          description: The job uuid
    status_worker:
      type: object
      description: A job worker node
      properties:
        name:
          type: string
          description: The worker name
        hostname:
          type: string
          description: The worker hostname
        fqdn:
          type: string
          description: The worker fully qualified domain name
        ips:
          type: array
          description: The list of worker ip addresses
          items:
            type: string
        program:
          type: string
          description: The worker program
        version:
          type: string
          description: The worker version
    build:
      type: object
      description: A build
      properties:
        job_name:
          type: string
          description: The build job name
        uuid:
          type: string
          description: The build uuid
        result:
          type: string
          description: The build result
        pipeline:
          type: string
          description: The build pipeline
        newrev:
          type: string
          description: The build newrev
        ref_url:
          type: string
          description: The build change reference url
        project:
          type: string
          description: The build project name
        voting:
          type: boolean
          description: The build voting status
        duration:
          type: integer
          description: The build duration in second
        change:
          type: integer
          description: The build change number
        patchset:
          type: integer
          description: The build patchset number
        ref:
          type: string
          description: The build change reference
        start_time:
          type: string
          description: The build start time ISO 8601 format
        end_time:
          type: string
          description: The build end time ISO 8601 format
        log_url:
          type: string
          description: The build logs url
