body {
  font-family: monospace;
  background-color: black;
  color: lightgrey;
}

#overlay {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: darkgrey;
    color: black;
}

pre {
    white-space: pre;
    margin: 0px 10px;
}
