- name: "check if {{ projectname }} exists"
  stat:
    path: "{{ workspace }}/{{ projectname }}"
  register: projectdir

- name: "Get {{ projectname }} and init commit-msg"
  when: projectdir.stat.exists is defined and not projectdir.stat.exists
  block:
    - name: "Clone {{ projectname }}"
      git:
        repo: "http://localhost:8080/{{ projectname }}"
        dest: "{{ workspace }}/{{ projectname }}"

    - name: Download commit-msg
      get_url:
        url: http://localhost:8080/tools/hooks/commit-msg
        dest: "{{ workspace }}/{{ projectname }}/.git/hooks/commit-msg"
        mode: a+x

- name: "Setup repository {{ projectname }}"
  shell:
    chdir: "{{ workspace }}/{{ projectname }}/"
    executable: /bin/bash
    cmd: |
      {{ ssh_agent.stdout }}
      {% if projectdir.stat.exists is defined and not projectdir.stat.exists %}
      git config user.email 'user@example.com'
      git config user.name 'Example User'
      git config gitreview.username 'user'
      git review -s
      {% else %}
      git fetch --all --prune
      git reset --hard origin/master
      rm -rf .zuul.yaml *
      git add -A
      {% endif %}
