- block:
    - name: Install git-review
      command: python3 -m pip install git-review podman-compose
      become: true
  when: not local

- name: Setup Tutorial Execution
  include_role:
    name: setup-tutorial

- name: Run quick-start tutorial
  include_tasks: quick-start.yaml

- name: Run tutorials
  include_tasks: "{{ tutorial_playbook_name }}"
  when: run_playbooks is defined
  loop: "{{ run_playbooks }}"
  loop_control:
    loop_var: tutorial_playbook_name
