parser: babel-eslint
plugins:
  - standard
  - jest
rules:
  no-console: off
extends:
  - eslint:recommended
  - plugin:react/recommended
settings:
  react:
    version: 16.4
env:
  jest/globals: true
  browser: true
